{{! Filters button }}
<button id="remote_notification_dropdown_btn" class="btn btn-outline-secondary ms-2" type="button"
        data-toggle="collapse" data-target="#remote_notification_dropdown" aria-expanded="false"
        title="{{#str}} filters, moodle {{/str}}">
    {{#pix}} i/filter, core {{/pix}}
    <span data-region="filter-button-label">
        {{#filtersapplied}} {{#str}}
            filtersappliedx, core_reportbuilder, {{filtersapplied}} {{/str}} {{/filtersapplied}}
        {{^filtersapplied}} {{#str}} filters, moodle {{/str}} {{/filtersapplied}}
    </span>
</button>

{{! Filters content }}
<div id="remote_notification_dropdown" class="collapse" aria-labelledby="dropdownFiltersButton">
    <div id="filters" class="reportbuilder-filters-sidebar scroll-shadow" data-region="report-filters">
        <div class="px-3 pt-3">
            <div class="reportbuilder-filters-wrapper" data-region="filters-form">
                {{{filtersform}}}
            </div>
        </div>
    </div>
</div>

