<div class="d-flex justify-content-between align-items-center mb-4">
    <h4 class="mb-0">{{#str}} overview:title, local_information_center {{/str}}</h4>
    {{#shortcuturl}}
        <a href="{{{shortcuturl}}}" data-toggle="tooltip" data-placement="top"
           title="{{#str}} overview:sendmessages, local_information_center {{/str}}">
            <i class="fa fa-gear"></i>
        </a>
    {{/shortcuturl}}
</div>