<div class="notification-item bg-white">
    <div class="d-flex">
        <div class="notification-icon text-info mr-3" style="background-color: {{iconbgcolor}}">
            <i class="{{icon}}" style="color: black"></i>
        </div>
        <div class="flex-grow-1">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <h6 class="mb-0">{{title}}
                    {{#unreadmarker}}<span class="infocenter-unread-dot"></span>{{/unreadmarker}}
                </h6>
                <span class="notification-date">{{sended_time_ago}}</span>
            </div>
            <p class="text-muted mb-2">{{{message}}}</p>
        </div>
    </div>
</div>
