{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_information_center/notification

    Search formular for users and category tags

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * icon -> Icon class, for example from Font Awesome
    * unreadmarker -> True, if the notification was unread
    * sended_time_ago -> Time at which the notification was send
    * message -> The actual body of the notification

    Example context (json):
    {
      "icon": "circle-user",
      "unreadmarker": true,
      "sended_time_ago": "5 seconds ago",
      "message": "<p>Hello everyone!</p>"
    }
}}

<div class="notification-item bg-white">
    <div class="d-flex">
        <div class="notification-icon text-info mr-3" style="background-color: {{iconbgcolor}}">
            <i class="{{icon}}" style="color: black"></i>
        </div>
        <div class="flex-grow-1">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <h6 class="mb-0">{{title}}
                    {{#unreadmarker}}<span class="infocenter-unread-dot"></span>{{/unreadmarker}}
                </h6>
                <span class="notification-date">{{sended_time_ago}}</span>
            </div>
            <p class="text-muted mb-2">{{{message}}}</p>
        </div>
    </div>
</div>
